<div class="sidebar">
  <ul nz-menu [nzMode]="'inline'" style="width: 240px;">
    <li nz-submenu>
      <span title><i class="anticon anticon-appstore"></i>Menu</span>
      <ul>
        <li nz-menu-item routerLink="/page1" routerLinkActive="ant-menu-item-selected">Page 1</li>
        <li nz-menu-item routerLink="/page2" routerLinkActive="ant-menu-item-selected">Page 2</li>
        <li nz-menu-item routerLink="/page3" routerLinkActive="ant-menu-item-selected">Page 3</li>
        <li nz-menu-item routerLink="/blog" routerLinkActive="ant-menu-item-selected">Blog</li>
      </ul>
    </li>
  </ul>
</div>
